*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    text-decoration: none;
}

.containerL{
    background-color: rgb(166, 219, 225);
    position: fixed;
    left: 35vw;
    top: 32vh;
    padding: 30px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.containerSU{
    position: fixed;
    left: 35vw;
    top: 26vh;
    padding: 30px;
    border-radius: 10px ;
    background-color: rgb(166, 219, 225);
    -webkit-border-radius: 10px ;
    -moz-border-radius: 10px ;
    -ms-border-radius: 10px ;
    -o-border-radius: 10px ;
}
.topcontainerL{
    height: 15vh;
    background-image: url(logonew.jpg);
    background-repeat: no-repeat;
    background-size: 30vw 15vh;
}
.topcontainerSU{
    width: 100vw;
    height: 15vh;
    background-image: url(logonew.jpg);
    background-repeat: no-repeat;
    background-size: 30vw 15vh;
}
.submitbtnSU{
    position: relative;
    left: 190px;
    top: 10px;
    padding: 3px;
    background-color: bisque;
    border-radius: 10px 0px 10px 0px;
    -webkit-border-radius: 10px 0px 10px 0px;
    -moz-border-radius: 10px 0px 10px 0px;
    -ms-border-radius: 10px 0px 10px 0px;
    -o-border-radius: 10px 0px 10px 0px;
}
.loginSU{
    position: relative;
    left: 205px;
    padding: 3px;
    background-color: bisque;
    border-radius: 10px 0px 10px 0px;
}
.errormsgL{
    position: fixed;
    padding: 5px;
    background-color: rgb(243, 42, 6);
    top: 25vh;
    left: 34.9vw;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.errorSU{
    position: fixed;
    padding: 5px;
    background-color: rgb(243, 42, 6);
    top: 19vh;
    left: 40.5vw;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.signupBody{
    background-color: rgb(210, 210, 202);
}
.loginBody{
    background-color: rgb(209, 209, 200);
}
.login{
    position:fixed;
    top: 33vh;
    left: 47vw;
}
.signup{
    position:fixed;
    top: 27vh;
    left: 46vw;
}
.navBar{
    background-color: rgb(125, 122, 115);
    position: fixed;
    top: 0px;
    left: 30vw;
    width: 70vw;
    height: 15vh;
    border-radius: 5px;
    padding: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
li{
    position:relative;
    left: 50%;
    list-style: none;
    display: inline-block;
    margin: 20px;
    background-color: rgb(52, 42, 42);
    padding: 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
li>a{
    color: white;
}
